<div class="game-wrapper">
	<div style="color: white" class="game__chose">
		Choose what you will play
		<input name="xoro" type="radio" value="x" [(ngModel)]="xoro" (ngModelChange)="choose_xoro()"><span class="xLight xLight--padding">X</span>
		or
		<input name="xoro" type="radio" value="o" [(ngModel)]="xoro" (ngModelChange)="choose_xoro()"><span class="oLight xLight--padding">O</span>
		<button (click)="resetGame()">Reset Game</button>
	</div>
	<span class="game-title game-title--computer" [ngClass]="{
			xLight : human == 'X',
			oLight : human == 'O'
		}">{{human}}`s Turn!</span>
	<div class="game">
		<div *ngFor="let cell of [1,2,3,4,5,6,7,8,9]; index as i" (click)="step(i+1, $event)" class="game-item"></div>
	</div>
	<span *ngIf="winner" class="game-title game-title--win" [ngClass]="{
		xLight : winner == 'X wins!',
		oLight : winner == 'O wins!'
	}">{{winner}}</span>
	<button *ngIf="winner" (click)="resetGame()" id="reset-game">Play Again</button>
</div>