// INPUT
.waw-input {
    display: block;
    position: relative;
    margin: 10px 0;

    &__title {
        display: block;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 5px;
    }

    // input body settings
    input {
        padding: 10px;
        display: block;
        width: 100%;
        border: 1px solid $grey;
        border-radius: $borderRadius;
        color: $blue;
        letter-spacing: 0.2px;
        font-size: 16px;
        background-color: $white;
        transition: .3s all ease-in-out;

        &::placeholder {
            color: $grey;
            transition: .1s all ease-in-out;
        }

        &:focus {
            transition: .1s all ease-in-out;
            border-color: $sky;
            color: $sky;
        }

        &[disabled] {
            border-color: $grey;
            color: $grey;
            cursor: not-allowed;
            opacity: 0.6;
            background-color: $greyL;
        }

        &[type="time"] {
            display: block;
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
        }
    }
}