// SWITCH
.waw-switch {
    display: flex;
    align-items: center;

    &__toggle {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        cursor: pointer;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        input:checked+.waw-switch__slider {
            background-color: $sky;
            border: 1px solid $sky;
        }

        input:focus+.waw-switch__slider {
            box-shadow: 0 0 1px $greyL;
        }

        input:checked+.waw-switch__slider:before {
            transform: translateX(22px);
            background-color: $white;
        }

        .waw-switch__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $grey;
            border: 1px solid $grey;
            outline: none;
            transition: 0.4s;

            &:before {
                position: absolute;
                content: "";
                height: 23px;
                width: 23px;
                left: 6px;
                bottom: 3px;
                background-color: $white;
                transition: 0.4s;
            }

            &._round {
                border-radius: 34px;

                &:before {
                    border-radius: 50%;
                }
            }
        }
    }

    &__text {
        margin-left: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $blue;
    }
}