// ===== COLORS 1 ===== 
$text: #333333;
$text-l: #34495E;
$bg: #ECF0F1;
$basic: #2980B9;
$extra: #16A085;
$warn: #E67E22;
$danger: #E74C3C;
$border: #95A5A6;
// ===== COLORS 2 ===== 
$blue: #334D6E;
$sky: #3498DB;
$skyL: #58ACF5;
$grey: #BDBDBD;
$greyL: #F2F2F2;
$red: #A31010;
$redD: #8C1B0F;
$green: #089227;
$white: #fff;
$black: #000;
$dark: #000;

// ===== FONT FAMILLY ===== 
$ff-base: "Roboto",sans-serif;
$ff-second: 'Roboto',sans-serif;
// ===== FONT SIZE ===== 
$fs: 16px;
// ===== BORDER RADIUS ===== 
$borderRadius: 3px;






