// table
.table-wrapp {
    background: $white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 20px;
    width: 100%;

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    &._vertical {
        @media screen and (max-width: 600px) {
            .cl-table-clients__img {
                display: none;
            }

            td {
                text-align: right;
            }

            .cl-table-clients__info {
                text-align: right;
            }

            table {
                border: 0;
            }

            td .cl-table-clients {
                align-items: flex-end;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                display: block;
                margin-bottom: .625em;
                border-bottom: 3px solid #ddd;
            }

            table td {
                display: block;
                border-right: none;
                text-align: right;
                min-height: 56px;
            }

            table td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }
    }

    th {
        padding: 15px 10px;
        text-align: center;
        border-right: 2px solid $grey;
        border-bottom: 0.5px solid $blue;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $blue;
        text-overflow: ellipsis;
        overflow: hidden;

        &:last-child {
            border-right: none;
        }

        @include bp-max(md) {
            font-size: 12px;
        }
    }

    td {
        cursor: pointer;
        padding: 15px 10px;
        text-align: center;
        vertical-align: middle;
        border-right: 2px solid $grey;
        border-bottom: 2px dashed #E0E0E0;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: $blue;
        word-break: break-word;

        @include bp-max(md) {
            font-size: 12px;
        }
    }

    tr:last-child {
        td {
            border-bottom: none;
        }
    }

    tr {

        td:last-child,
        th:last-child {
            border-right: none;
            border-right: none;
        }

        @media (max-width:600px) {
            &:nth-child(even) {
                background: rgba(0, 0, 0, 0.04);
            }
        }

    }
}
@include bp-max(xl) {
    .xl-hide {
        display: none;
    }

    .xl-br-none {
        border-right: none !important;
    }
}

@include bp-max(sm) {
    .sm-hide {
        display: none;
    }

    .sm-br-none {
        border-right: none !important;
    }
}