<div class="users">
	<div class="table-wrapp">
		<table class="table" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th scope="col">User</th>
					<th scope="col">Email</th>
					<th scope="col" *ngFor="let role of us.roles; let i = index;">{{role}}</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of us.users|search:search:'name email'">
					<td data-label="User">
						<div class="cl-table-clients">
							<div class="cl-table-clients__img"><img [src]="user.avatarUrl" alt="" height="50" width="50"></div>
							<div class="cl-table-clients__info">
								<div class="cl-table-clients__name">{{user.name}}</div>
							</div>
						</div>
					</td>
					<td data-label="E-mail">{{user.email}}</td>
					<td data-label="Role" *ngFor="let role of us.roles; let i = index;">
						<label>
							<input type="checkbox" [(ngModel)]="user.is[role]" (ngModelChange)="us.save(user);" name="role name">
						</label>
					</td>
					<td data-label="Actions">
						<i class="material-icons" (click)="us.delete(user);">delete</i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<form (ngSubmit)="us.create(new_user); new_user={}" class="users-field">
		<div class="waw-input">
			<label>
				<span>Add new user</span>
				<input type="email" [(ngModel)]="new_user.email" name="new user email" placeholder="Email">
			</label>
		</div>
		<button class="waw-btn _primary" type="submit" [disabled]="!ui.valid(new_user.email)">Create</button>
	</form>
</div>