/* Text align */
.ta-l {
	text-align: left !important;
}
.ta-c {
	text-align: center !important;
}
.ta-r {
	text-align: right !important;
}
/* white space */
.ws-nw {
	white-space: nowrap !important;
}
.ws-pl {
	white-space: pre-line !important;
}
.ws-n {
	white-space: normal !important;
}
/* font weight */
.fw400 {
	font-weight: 400 !important;
}
.fw500 {
	font-weight: 500 !important;
}
.fw700 {
	font-weight: 700 !important;
}
/* text-transform */
.tt-u {
	text-transform: uppercase !important;
}
